Source: ros-hydro-libuvc-ros
Section: misc
Priority: extra
Maintainer: Ken Tossell <ken@tossell.net>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/libuvc_ros
Standards-Version: 3.9.2

Package: ros-hydro-libuvc-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-libuvc-camera
Description: libuvc_ros metapackage
